@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right top, #cacaca, #cbc4cc, #d4bbc6, #ddb4b8, #e1aea2, #deae9d, #daad98, #d6ad94, #d3afa0, #cdb1ab, #c5b5b3, #bbb9b9);
    background-repeat: no-repeat;
    /* background-image: url("/background.jpg");
    background-size: cover; */
}